* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box;
}
body {
    background: rgb(204,204,204);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    padding: 40px 60px;
}
page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}
@page {
    size: auto;
    margin: 0;
}

.upper {
    text-transform: uppercase;
}
.display-block {
    display: block;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.lh {
    line-height: 1.5;
}
.display-inline {
    display: inline-block;
} 